<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Create Role</title>
</head>
<body>
<div layout:fragment="custom-container">
    <section class="content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>ADD Role
                        <a class="btn btn-primary pull-right" th:href="@{/role/rolelist}" type="submit">Role List</a>
                    </h2>
                    <span th:text="${existMsg}"></span>
                    <span th:text="${successMsg}"></span>
                </div>
                <div class="body">
                    <form id="form_validation" th:object="${role}" th:action="@{/role/add}" method="POST">
                            <div class="form-group form-float">
                                <div class="form-line focused success">
                                    <input type="text" th:field="*{roleName}" class="form-control" name="name" maxlength="10"
                                           minlength="3" required>
                                    <label class="form-label">Role Name</label>
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
</html>