<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>User List</title>
</head>
<body>
<div class="container-fluid" layout:fragment="custom-container">
    <div style="margin-top:120px;padding: 5px;">
        <i class="fa fa-user"></i> Role List
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Education</th>
                    <th>Gender</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Photo</th>
                    <th>Role</th>
                    <th colspan="3" style="text-align: center">Action</th>

                </tr>
                <tr th:each="user : ${list}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.mobile}"></td>
                    <td th:text="${user.education}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.password}"></td>
                    <td><img th:src="@{${user.filePath}}" width="100" height="120"/></td>
                    <td>
                    <span th:each="user : ${list}">
                        <span th:each="role : ${user.roles}" th:text="${role.roleName+' '}"></span>
                    </span>
                    </td>
                    <td><a th:href="@{'/user/edit/' + ${user.id}}"><button type="button" class="btn btn-round btn-success">View</button></a></td>
                    <td><a th:href="@{'/user/del/' + ${user.id}}"><button type="button" class="btn btn-round btn-danger">DELETE</button></a></td>
                </tr>
            </table>
        </div>

    </div>
</div>


</body>
</html>