<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Create User</title>
</head>

<body class="signup-page">
<div layout:fragment="custom-container">
<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">RIS<b>BD</b></a>
        <small>Resident Information System Bangladesh</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_up" th:object="${user}" th:action="@{/user/add}" method="POST">
                <div class="msg">Register a new membership</div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="demo-radio-buttonx">
                        <label>User Type</label>
                        <input type="radio" name="usertype"  value="po"/>
                        <label>Police</label>
                        <input  type="radio"  name="usertype"  value="ho" />
                        <label>House Owner</label>
                        <input  type="radio"  name="usertype"  value="te"/>
                        <label>Tenant</label>
                    </div>
                </div>


                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input  type="radio"  name="usertype"  value="te"/>
                    </div>
                </div>


                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text"  th:field="*{name}" class="form-control" name="namesurname" placeholder="Name Surname" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">phone</i>
                        </span>
                    <div class="form-line">
                        <input type="text" th:field="*{phone}" class="form-control" name="phone" placeholder="Phone" required>
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" th:field="*{password}" class="form-control" name="password" minlength="6" placeholder="Password" required>
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a th:href="@{/sign-in}">You already have a membership?</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>