<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Test Inc.</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png"  th:href="@{/images/icons/favicon.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/fonts/themify/themify-icons.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/vendor/slick/slick.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"   th:href="@{/vendor/lightbox2/css/lightbox.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>
<div class="container-scroller">
<!-- Header -->
<div th:replace="~{/fragments/header.html :: header}"></div>

<!-- Sidebar -->
<div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>

<!--Container-->
<div layout:fragment="custom-container"></div>
<!--SingUp-->
<div th:replace="~{/fragments/singup.html :: singup}"></div>

<!--Footer -->
<div th:replace="~{/fragments/footer.html :: footer}"></div>

<!--Back to Top-->
<div th:replace="~{fragments/backtotop.html :: backtotop}"></div>

<!-- Container Selection1 -->
<div th:replace="~{fragments/container.html :: container}"></div>

<!-- Model video -->
<div th:replace="~{fragments/modelvideo.html :: modelvideo}"></div>

</div>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/slick/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/js/slick-custom.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/parallax100/parallax100.js}"></script>
<script type="text/javascript">
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/vendor/lightbox2/js/lightbox.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>
</body>
</html>