<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>User List</title>
</head>
<body>
<div layout:fragment="custom-container">
    <section class="content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Police List
                        <a class="btn btn-primary pull-right" th:href="@{/user/add}" type="submit">ADD User</a>
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="mainTable">
                            <tr>

                                <th>Name</th>
                                <th>Education Id</th>
                                <th>NID Type</th>
                                <th>Date Of Birth</th>
                                <th>Contract No</th>
                                <th>Gender</th>
                                <th>Tin No</th>
                                <th>Income</th>
                                <th>No Of Family Mamber</th>
                                <th>No Of Employe</th>
                                <th>Photo</th>

                                <th colspan="2" style="text-align: center">Action</th>

                            </tr>
                            <tr th:each="tenant : ${list}">
                                <td th:text="${tenant?.name}"></td>
                                <td th:text="${tenant?.education}"></td>
                                <td th:text="${tenant?.nidNo}"></td>
                                <td th:text="${tenant?.dateOfBirth}"></td>
                                <td th:text="${tenant?.contractNo}"></td>
                                <td th:text="${tenant?.gender}"></td>
                                <td th:text="${tenant?.tinNo}"></td>
                                <td th:text="${tenant?.income}"></td>
                                <td th:text="${tenant?.noOfMamber}"></td>
                                <td th:text="${tenant?.noOfEmploye}"></td>
                                <td><img th:src="@{${tenant?.photo}}" width="100" height="120"/></td>


                                <td><a th:href="@{'/tenant/edit/' + ${tenant.id}}"><button type="button" class="btn btn-round btn-success">Edit</button></a></td>
                                <td><a th:href="@{'/tenant/del/' + ${tenant.id}}"><button type="button" class="btn btn-round btn-danger">DELETE</button></a></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>




</body>
</html>