<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
<h1>Add Department</h1>
<span style="color: red" th:text="${errMsg}"></span>
<span style="color: green" th:text="${successMsg}"></span>
<form th:object="${department}" th:action="@{/}" , th:method="POST">
    <table>
        <tr>
            <td>Department Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>


</form>
<hr/>
<table style="width: 100%">
    <tr>
        <th>Id</th>
        <th>Department Name</th>
    </tr>
    <tr th:each="d : ${list}" style="text-align: center">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>
    </tr>
</table>
</body>
</html>