<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>ADD Rent</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div layout:fragment="custom-container">
    <section class="content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>ADD Rent
                        <a class="btn btn-primary pull-right" th:href="@{/rent/list}" type="submit">Rent
                            List</a>
                    </h2>
                    <span th:text="${existMsg}"></span>
                    <span th:text="${successMsg}"></span>
                </div>
                <div class="body">
                    <form id="form_validation" th:object="${rent}" th:action="@{/rent/add}"
                          method="POST">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <label class="form-label">Rent Type</label>
                                    <select th:field="*{rentType}">

                                        <option th:value="Commercial">Commercial</option>
                                        <option th:value="Family">Family</option>
                                        <option th:value="Family_Sub_late">Family Sub late</option>
                                        <option th:value="Match">Match</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Date</label>
                                <label th:text="*{currentdate}"></label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Building</label>
                                    <select th:field="*{building}">
                                        <option th:each="d : ${buildinglist}" th:value="${d.id}">
                                            <span th:text="${d.name}"></span>
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Flat</label>
                                    <select th:field="*{flat}">
                                        <option th:each="d : ${flatlist}" th:value="${d.id}">
                                            <span th:text="${d.name}"></span>
                                        </option>
                                    </select>

                                </div>
                            </div>

                        </div>

                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                        <!--<div class="col-sm-6">-->
                        <!--<div class="form-group">-->
                        <!--<label>Building</label>-->
                        <!--<select onchange="showCustomer(this.value)">-->
                        <!--<option th:each="d : ${buildinglist}" th:value="${d.id}">-->
                        <!--<span th:text="${d.name}"></span>-->
                        <!--</option>-->
                        <!--</select>-->

                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                        <!--<div class="form-group">-->
                        <!--<label>Flat</label>-->
                        <!--<select id="flat-dropdown">-->
                        <!--<option value="0">Select a Flat</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <input type="text" class="form-control" th:field="*{rentAmount}" required>
                                        <label class="form-label">Rent Amount</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <input type="text" class="form-control" th:field="*{advanceAmount}">
                                        <label class="form-label">Advance Amount</label>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <input type="text" class="form-control" name="contractNo"
                                               required>
                                        <label class="form-label">Tanent Contract No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <b>Rent Date</b>
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                    <div class="form-line">
                                        <input type="date" class="form-control date" th:field="*{rentdate}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                        <a class="btn btn-primary pull-right" th:href="@{/flat/add}" type="submit">Privew</a>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>

    <script>
    function showCustomer(id) {
        var dropdown = document.getElementById('flat-dropdown');
        dropdown.length = 0;
        var defaultOption = document.createElement('option');
        defaultOption.text = 'Select A flat';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;
        var xhttp;
        if (id == "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("txtHint").innerHTML = this.responseText;
                var data = JSON.parse(this.responseText);
                var option;
                for (var i = 0; i < data.length; i++) {
                    option = document.createElement('option');
                    option.text = data[i].name;
                    option.value = data[i].id;
                    console.log("rdsjklfdiufdsfj "+data[i].id);
                    dropdown.add(option);
                }
            }
        };
        xhttp.open("GET", "/rest/flat/" + id, true);
        xhttp.send();
    }
</script>
</body>
</html>