<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div layout:fragment="cus-content">

    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1>User List</h1></div>
            <div class="col-md-6" style="text-align: center">
                <h1><a th:href="@{/user/add}">Add New User</a></h1>
            </div>
        </div>
        <table class="table">
            <tr class="">
                <th>ID</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Hobby</th>
                <th>Gender</th>
                <th>Country</th>
                <th>Photo</th>
                <th colspan="2">Action</th>
            </tr>
            <tr th:each="u : ${list}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.userName}"></td>
                <td th:text="${u.password}"></td>
                <td><samp th:each="h : ${u.hobbies}" th:text="${h}+' '"></samp> </td>
                <td th:text="${u.gender}"></td>
                <td th:text="${u.country}"></td>
                <td><img  th:src="@{${u.getPhoto()}}" width="100" height="100"/></td>
                <td> <a th:href="@{'/user/edit/'+${u.id}}">Edit</a></td>
                <td> <a th:href="@{'/user/delete/'+${u.id}}">Delete</a></td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>