<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>News List</title>
</head>
<body>
<div class="container" layout:fragment="custom-container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:120px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i>  Role List
            </div>
            <span th:text="${errorMsg}"></span>
            <span th:text="${successMsg}"></span>
            <div class="card-block" style="padding: 24px;">
                <div class="container">
                <div class="row">
                    <div class="col-8">

                    </div>
                    <div class="col-4">
                        <a class="btn btn-outline-primary" th:href="@{/news/add}" >Add News</a>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Decription</th>
                        <th>Photos</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="news : ${list}">
                        <td th:text="${news.id}"></td>
                        <td th:text="${news.title}"></td>
                        <td th:text="${news.decription}"></td>
                        <td th:text="${news.filepath}"></td>
                        <td><a th:href="@{'/news/edit/' + ${news.id}}">EDIT</a></td>
                        <td><a th:href="@{'/news/del/' + ${news.id}}">DELETE</a></td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>