<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Role List</title>
</head>
<body>
<div class="container" layout:fragment="custom-container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Create Role
            </div>
            <span th:text="${errorMsg}"></span>
            <span th:text="${successMsg}"></span>
            <div class="card-block" style="padding: 24px;">
                <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h2>Role List</h2>
                    </div>
                    <div class="col-2">
                        <a class="btn" th:href="@{/add}" >Add User</a>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Role Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="role : ${list}">
                        <td th:text="${role.id}"></td>
                        <td th:text="${role.roleName}"></td>
                        <td><a th:href="@{'/role-edit/' + ${role.id}}">edit</a></td>
                        <td><a th:href="@{'/role-del/' + ${role.id}}">Del</a></td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>