<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>User List</title>
</head>
<body>
<div class="container" layout:fragment="custom-container">
    <div style="width:auto;margin-left: auto;margin-right: auto;margin-top:120px;padding: 5px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i>  Role List
            </div>
            <span th:text="${errorMsg}"></span>
            <span th:text="${successMsg}"></span>
            <div class="card-block" style="padding: 5px;">

                <div class="row">
                    <div class="col-10">

                    </div>
                    <div class="col-2">
                        <a class="btn btn-outline-primary" th:href="@{/user/add}" >Add User</a>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Education</th>
                        <th>Gender</th>
                        <th>Date of birth</th>
                        <th>Reg Date</th>
                        <th>Modify Date</th>
                        <th>User Name</th>
                        <th>Password</th>
                        <th>Photo</th>
                        <th>Role</th>
                        <th colspan="2">Action</th>
                        <th>Approve</th>
                    </tr>
                    <tr th:each="user : ${list}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.education}"></td>
                        <td th:text="${user.gender}"></td>
                        <td th:text="${user.birthDate}"></td>
                        <td th:text="${user.regiDate}"></td>
                        <td th:text="${user.lastModifiedDate}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${user.filePath}"></td>
                        <td th:field="*{list}">
                            <select>-->
                                <option th:each="role : ${list}" th:value="${role.id}" th:text="${role.roles}"></option>
                            </select>
                        </td>
                        <td><a th:href="@{'/user/edit/' + ${user.id}}">EDIT</a></td>
                        <td><a th:href="@{'/user/del/' + ${user.id}}">DELETE</a></td>
                        <td><a th:href="@{'/user/del/' + ${user.id}}">Approve</a></td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>

</body>
</html>