<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Police | Resident Information System BD</title>
    <!-- Favicon-->

</head>

<body class="theme-red">
<div layout:fragment="custom-container">

    <section class="content">
        <div class="container-fluid">

            <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>House Owner Information</h2>
                        </div>
                        <div class="body">
                            <form id="form_validation" th:object="${houseOwner}" th:action="@{/houseowner/edit/}+${id}"
                                  enctype="multipart/form-data" method="POST">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line focused success">
                                                <input type="text" class="form-control" th:field="*{name}"
                                                       maxlength="10"
                                                       minlength="3" required>
                                                <label class="form-label">Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Education Level</b>
                                        <select class="show-tick" th:field="*{education}">
                                            <option value="">-- Please select --</option>
                                            <option value="UnEducated">UnEducated</option>
                                            <option value="PSC">PSC</option>
                                            <option value="JSC">JSC</option>
                                            <option value="SSC">SSC</option>
                                            <option value="HSC">HSC</option>
                                            <option value="Graduate">Graduate</option>
                                            <option value="Post Graduate">Post Graduate</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line focused success">
                                                <input type="text" class="form-control" th:field="*{nidNo}"
                                                       maxlength="10"
                                                       minlength="3" required>
                                                <label class="form-label">NID</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Date of Birth</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="date" class="form-control date" th:field="*{dateOfBirth}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="col-sm-6">
                                        <b>Mobile Phone Number</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">phone_iphone</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control mobile-phone-number"
                                                       th:field="*{contractNo}"
                                                       placeholder="Ex: +00 (000) 000-00-00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h2 class="card-inside-title">Gender</h2>
                                        <div class="demo-radio-button">
                                            <input name="group1" type="radio" id="Male" th:field="*{gender}"
                                                   th:value="Male" checked/>
                                            <label for="Male">Male</label>
                                            <input name="group1" type="radio" id="FeMale" th:field="*{gender}"
                                                   th:value="Female"/>
                                            <label for="FeMale">FeMale</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line focused success">
                                                <input type="text" class="form-control" th:field="*{tinNo}"
                                                       maxlength="10"
                                                       minlength="3" required>
                                                <label class="form-label">TIN Number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Thana</label>
                                        <select th:field="*{thana}">
                                            <option th:each="d : ${thanalist}" th:value="${d.id}">
                                                <span th:text="${d.name}"></span>
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                    <div class="col-sm-4">
                                        <div class="form-group form-float">
                                            <div class="form-line focused success">
                                                <input type="text" class="form-control" th:field="*{income}">
                                                <label class="form-label">Monthly Income</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group form-float">
                                            <div class="form-line focused success">
                                                <input type="number" class="form-control" th:field="*{noOfMamber}">
                                                <label class="form-label">Number of Family Member</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group form-float">
                                            <div class="form-line focused success">
                                                <input type="number" class="form-control" th:field="*{noOfEmploye}">
                                                <label class="form-label">Number of Employee</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <b>Photo</b>
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">image</i>
                                            </span>

                                        <input type="file" name="file">

                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="checkbox" id="checkbox" name="checkbox">
                                    <label for="checkbox">I have read and accept the terms</label>
                                </div>
                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>

</html>
