<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Upload VIDEO</title>
</head>
<body>
<!--<div class="container">-->
<!--    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">-->
<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <i class="fa fa-user"></i> Create Permission-->
<!--            </div>-->
<!--            <span th:text="${errorMsg}"></span>-->
<!--            <span th:text="${successMsg}"></span>-->
<!--            <div class="card-block" style="padding: 24px;">-->
<!--                <form name="f" th:object="${permission}" th:action="@{/permission/add}" method="post">-->
<!--                    <fieldset>-->
<!--                        &lt;!&ndash; Thymeleaf + Spring Security error display &ndash;&gt;-->


<!--                        &lt;!&ndash; User Controls &ndash;&gt;-->
<!--                        <div class="form-group">-->
<!--                            <label>Permission Name</label>-->
<!--                            <input type="text" class="form-control"  th:field="*{url}"-->
<!--                                   placeholder="Permission Name">-->
<!--                        </div>-->




<!--                        &lt;!&ndash; Login Button &ndash;&gt;-->
<!--                        <div class="form-actions" style="margin-top: 12px;">-->
<!--                            <button type="submit" class="btn btn-success">Save</button>-->
<!--                        </div>-->
<!--                    </fieldset>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>