<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header -->
<header th:fragment="header">
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
        <div class="container h-full">
            <div class="wrap_header trans-0-3">
                <!-- Logo -->
                <div class="logo">
                    <a href="../index.html">
                        <img src="images/icons/logo.png" alt="IMG-LOGO" data-logofixed="images/icons/logo2.png">
                    </a>
                </div>
                <!-- Menu -->
                <div class="wrap_menu p-l-45 p-l-0-xl">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a th:href="@{/home}">Home</a>
                            </li>
                            <li>
                                <a th:href="@{/news/view}">News</a>
                            </li>
                            <li>
                                <a th:href="@{/ebook}">E-Book</a>
                            </li>

                            <li>
                                <a th:href="@{/video}">Video</a>
                            </li>

                            <li>
                                <a th:href="@{/audio}">Audio</a>
                            </li>
                            <li>
                                <a th:href="@{/gallery}">Gallery</a>
                            </li>
                            <li>
                                <a th:href="@{/about}">About</a>
                            </li>
                            <li>
                                <a th:href="@{/user/add}">Regestation</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Social -->
                <div class="social flex-w flex-l-m p-r-20">
                    <a href="@{/singup}"><i class="fa fa-sign-in m-l-21" aria-hidden="true"></i></a>
                    <a href="@{/logout}"><i class="fa fa-sign-out m-l-21" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube m-l-21" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

                    <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>